openapi: '3.0.0'
info:
 version: 1.0.0
 title: Simple API
 description: A simple API to illustrate OpenAPI concepts
servers:
 - url: https://wsh43.northeurope.cloudapp.azure.com:7048/NAV/api/beta 
paths:
 "/companies":
  get:
   summary: Returns a list of companies
   operationId: getcompanies
   tags: [companies]
   responses:
    200:
     description: Succesfully returned a list of companies
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/company'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'systemVersion', 'name', 'displayName', 'businessProfileId']
       default: '*'
     style: form
     explode: false
 "/companies({company_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'systemVersion', 'name', 'displayName', 'businessProfileId']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the company from its unique id
   operationId: getcompanybyid
   tags: [companies]
   responses:
    200:
     description: Succesfully returned the requested company
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/company'
 "/companies({company_id})/items":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of items
   operationId: getitems
   tags: [items]
   responses:
    200:
     description: Succesfully returned a list of items
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/item'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'displayName', 'type', 'blocked', 'baseUnitOfMeasureId', 'baseUnitOfMeasure', 'gtin', 'inventory', 'unitPrice', 'priceIncludesTax', 'unitCost', 'taxGroupId', 'taxGroupCode', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new item
   operationId: postitem
   tags: [items]
   requestBody:
    $ref: '#/components/requestBodies/item'
   responses:
    201:
     description: item succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/item'
 "/companies({company_id})/items({item_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: item_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'displayName', 'type', 'blocked', 'baseUnitOfMeasureId', 'baseUnitOfMeasure', 'gtin', 'inventory', 'unitPrice', 'priceIncludesTax', 'unitCost', 'taxGroupId', 'taxGroupCode', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the item from its unique id
   operationId: getitembyid
   tags: [items]
   responses:
    200:
     description: Succesfully returned the requested item
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/item'
  delete:
   summary: Allows the user to delete the specified item
   operationId: deleteitembyid
   tags: [items]
   responses:
    204:
     description: Succesfully deleted the item with the specified id
  patch:
   summary: Lets the user patch the specified item
   operationId: patchitembyid
   tags: [items]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/item'
   responses:
    200:
     description: Succesfully updated the item with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/item'
 "/companies({company_id})/customers":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of customers
   operationId: getcustomers
   tags: [customers]
   responses:
    200:
     description: Succesfully returned a list of customers
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/customer'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['currency', 'paymentTerm', 'shipmentMethod', 'paymentMethod']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'displayName', 'type', 'address', 'phoneNumber', 'email', 'website', 'taxLiable', 'taxAreaId', 'taxAreaDisplayName', 'taxRegistrationNumber', 'currencyId', 'currencyCode', 'paymentTermsId', 'shipmentMethodId', 'paymentMethodId', 'blocked', 'balance', 'overdueAmount', 'totalSalesExcludingTax', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new customer
   operationId: postcustomer
   tags: [customers]
   requestBody:
    $ref: '#/components/requestBodies/customer'
   responses:
    201:
     description: customer succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customer'
 "/companies({company_id})/customers({customer_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: customer_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['currency', 'paymentTerm', 'shipmentMethod', 'paymentMethod']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'displayName', 'type', 'address', 'phoneNumber', 'email', 'website', 'taxLiable', 'taxAreaId', 'taxAreaDisplayName', 'taxRegistrationNumber', 'currencyId', 'currencyCode', 'paymentTermsId', 'shipmentMethodId', 'paymentMethodId', 'blocked', 'balance', 'overdueAmount', 'totalSalesExcludingTax', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the customer from its unique id
   operationId: getcustomerbyid
   tags: [customers]
   responses:
    200:
     description: Succesfully returned the requested customer
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customer'
  delete:
   summary: Allows the user to delete the specified customer
   operationId: deletecustomerbyid
   tags: [customers]
   responses:
    204:
     description: Succesfully deleted the customer with the specified id
  patch:
   summary: Lets the user patch the specified customer
   operationId: patchcustomerbyid
   tags: [customers]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/customer'
   responses:
    200:
     description: Succesfully updated the customer with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customer'
 "/companies({company_id})/vendors":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of vendors
   operationId: getvendors
   tags: [vendors]
   responses:
    200:
     description: Succesfully returned a list of vendors
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/vendor'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['currency', 'paymentTerm', 'paymentMethod']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'displayName', 'address', 'phoneNumber', 'email', 'website', 'taxRegistrationNumber', 'currencyId', 'currencyCode', 'irs1099Code', 'paymentTermsId', 'paymentMethodId', 'taxLiable', 'blocked', 'balance', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new vendor
   operationId: postvendor
   tags: [vendors]
   requestBody:
    $ref: '#/components/requestBodies/vendor'
   responses:
    201:
     description: vendor succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/vendor'
 "/companies({company_id})/vendors({vendor_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: vendor_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['currency', 'paymentTerm', 'paymentMethod']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'displayName', 'address', 'phoneNumber', 'email', 'website', 'taxRegistrationNumber', 'currencyId', 'currencyCode', 'irs1099Code', 'paymentTermsId', 'paymentMethodId', 'taxLiable', 'blocked', 'balance', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the vendor from its unique id
   operationId: getvendorbyid
   tags: [vendors]
   responses:
    200:
     description: Succesfully returned the requested vendor
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/vendor'
  delete:
   summary: Allows the user to delete the specified vendor
   operationId: deletevendorbyid
   tags: [vendors]
   responses:
    204:
     description: Succesfully deleted the vendor with the specified id
  patch:
   summary: Lets the user patch the specified vendor
   operationId: patchvendorbyid
   tags: [vendors]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/vendor'
   responses:
    200:
     description: Succesfully updated the vendor with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/vendor'
 "/companies({company_id})/companyInformation":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of companyInformation
   operationId: getcompanyInformation
   tags: [companyInformation]
   responses:
    200:
     description: Succesfully returned a list of companyInformation
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/companyInformation'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'displayName', 'address', 'phoneNumber', 'faxNumber', 'email', 'website', 'taxRegistrationNumber', 'currencyCode', 'currentFiscalYearStartDate', 'industry', 'picture', 'businessProfileId', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
 "/companies({company_id})/companyInformation({companyInformation_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: companyInformation_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'displayName', 'address', 'phoneNumber', 'faxNumber', 'email', 'website', 'taxRegistrationNumber', 'currencyCode', 'currentFiscalYearStartDate', 'industry', 'picture', 'businessProfileId', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the companyInformation from its unique id
   operationId: getcompanyInformationbyid
   tags: [companyInformation]
   responses:
    200:
     description: Succesfully returned the requested companyInformation
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/companyInformation'
  patch:
   summary: Lets the user patch the specified companyInformation
   operationId: patchcompanyInformationbyid
   tags: [companyInformation]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/companyInformation'
   responses:
    200:
     description: Succesfully updated the companyInformation with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/companyInformation'
 "/companies({company_id})/salesInvoices":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of salesInvoices
   operationId: getsalesInvoices
   tags: [salesInvoices]
   responses:
    200:
     description: Succesfully returned a list of salesInvoices
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/salesInvoice'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['salesInvoiceLines', 'pdfDocument', 'customer', 'currency', 'paymentTerm', 'shipmentMethod']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'externalDocumentNumber', 'invoiceDate', 'dueDate', 'customerPurchaseOrderReference', 'customerId', 'contactId', 'customerNumber', 'customerName', 'billingPostalAddress', 'currencyId', 'currencyCode', 'orderId', 'orderNumber', 'paymentTermsId', 'shipmentMethodId', 'salesperson', 'pricesIncludeTax', 'discountAmount', 'discountAppliedBeforeTax', 'totalAmountExcludingTax', 'totalTaxAmount', 'totalAmountIncludingTax', 'status', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new salesInvoice
   operationId: postsalesInvoice
   tags: [salesInvoices]
   requestBody:
    $ref: '#/components/requestBodies/salesInvoice'
   responses:
    201:
     description: salesInvoice succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoice'
 "/companies({company_id})/salesInvoices({salesInvoice_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['salesInvoiceLines', 'pdfDocument', 'customer', 'currency', 'paymentTerm', 'shipmentMethod']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'externalDocumentNumber', 'invoiceDate', 'dueDate', 'customerPurchaseOrderReference', 'customerId', 'contactId', 'customerNumber', 'customerName', 'billingPostalAddress', 'currencyId', 'currencyCode', 'orderId', 'orderNumber', 'paymentTermsId', 'shipmentMethodId', 'salesperson', 'pricesIncludeTax', 'discountAmount', 'discountAppliedBeforeTax', 'totalAmountExcludingTax', 'totalTaxAmount', 'totalAmountIncludingTax', 'status', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the salesInvoice from its unique id
   operationId: getsalesInvoicebyid
   tags: [salesInvoices]
   responses:
    200:
     description: Succesfully returned the requested salesInvoice
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoice'
  delete:
   summary: Allows the user to delete the specified salesInvoice
   operationId: deletesalesInvoicebyid
   tags: [salesInvoices]
   responses:
    204:
     description: Succesfully deleted the salesInvoice with the specified id
  patch:
   summary: Lets the user patch the specified salesInvoice
   operationId: patchsalesInvoicebyid
   tags: [salesInvoices]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/salesInvoice'
   responses:
    200:
     description: Succesfully updated the salesInvoice with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoice'
 "/companies({company_id})/salesInvoices/Microsoft.NAV.post":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the post action for salesInvoices entity
   operationId: postAction_salesInvoices
   tags: [salesInvoices]
   responses:
    204:
     description: Succesfully perfpormed a post action on the salesInvoices entity
 "/companies({company_id})/salesInvoices/Microsoft.NAV.postAndSend":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the postAndSend action for salesInvoices entity
   operationId: postAndSendAction_salesInvoices
   tags: [salesInvoices]
   responses:
    204:
     description: Succesfully perfpormed a postAndSend action on the salesInvoices entity
 "/companies({company_id})/salesInvoices/Microsoft.NAV.send":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the send action for salesInvoices entity
   operationId: sendAction_salesInvoices
   tags: [salesInvoices]
   responses:
    204:
     description: Succesfully perfpormed a send action on the salesInvoices entity
 "/companies({company_id})/salesInvoices/Microsoft.NAV.cancel":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the cancel action for salesInvoices entity
   operationId: cancelAction_salesInvoices
   tags: [salesInvoices]
   responses:
    204:
     description: Succesfully perfpormed a cancel action on the salesInvoices entity
 "/companies({company_id})/salesInvoices/Microsoft.NAV.cancelAndSend":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the cancelAndSend action for salesInvoices entity
   operationId: cancelAndSendAction_salesInvoices
   tags: [salesInvoices]
   responses:
    204:
     description: Succesfully perfpormed a cancelAndSend action on the salesInvoices entity
 "/companies({company_id})/salesInvoices({salesInvoice_id})/salesInvoiceLines":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: salesInvoiceLine_documentId
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of salesInvoiceLines
   operationId: getsalesInvoiceLinesforsalesInvoice
   tags: [salesInvoiceLines]
   responses:
    200:
     description: Succesfully returned a list of salesInvoiceLines
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/salesInvoiceLine'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'documentId', 'sequence', 'itemId', 'accountId', 'lineType', 'lineDetails', 'description', 'unitOfMeasureId', 'unitOfMeasure', 'unitPrice', 'quantity', 'discountAmount', 'discountPercent', 'discountAppliedBeforeTax', 'amountExcludingTax', 'taxCode', 'taxPercent', 'totalTaxAmount', 'amountIncludingTax', 'invoiceDiscountAllocation', 'netAmount', 'netTaxAmount', 'netAmountIncludingTax', 'shipmentDate']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new salesInvoiceLine
   operationId: postsalesInvoiceLineforsalesInvoice
   tags: [salesInvoiceLines]
   requestBody:
    $ref: '#/components/requestBodies/salesInvoiceLine'
   responses:
    201:
     description: salesInvoiceLine succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoiceLine'
 "/companies({company_id})/salesInvoices({salesInvoice_id})/salesInvoiceLines({salesInvoiceLine_documentId},{salesInvoiceLine_sequence})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: salesInvoiceLine_documentId
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: salesInvoiceLine_sequence
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'documentId', 'sequence', 'itemId', 'accountId', 'lineType', 'lineDetails', 'description', 'unitOfMeasureId', 'unitOfMeasure', 'unitPrice', 'quantity', 'discountAmount', 'discountPercent', 'discountAppliedBeforeTax', 'amountExcludingTax', 'taxCode', 'taxPercent', 'totalTaxAmount', 'amountIncludingTax', 'invoiceDiscountAllocation', 'netAmount', 'netTaxAmount', 'netAmountIncludingTax', 'shipmentDate']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the salesInvoiceLine from its unique documentId, sequence
   operationId: getsalesInvoiceLineforsalesInvoicebysequencebydocumentId
   tags: [salesInvoiceLines]
   responses:
    200:
     description: Succesfully returned the requested salesInvoiceLine
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoiceLine'
  delete:
   summary: Allows the user to delete the specified salesInvoiceLine
   operationId: deletesalesInvoiceLineforsalesInvoicebysequencebydocumentId
   tags: [salesInvoiceLines]
   responses:
    204:
     description: Succesfully deleted the salesInvoiceLine with the specified documentId, sequence
  patch:
   summary: Lets the user patch the specified salesInvoiceLine
   operationId: patchsalesInvoiceLineforsalesInvoicebysequencebydocumentId
   tags: [salesInvoiceLines]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/salesInvoiceLine'
   responses:
    200:
     description: Succesfully updated the salesInvoiceLine with the specified documentId, sequence
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoiceLine'
 "/companies({company_id})/salesInvoices({salesInvoice_id})/pdfDocument":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of pdfDocument
   operationId: getpdfDocumentforsalesInvoice
   tags: [pdfDocument]
   responses:
    200:
     description: Succesfully returned a list of pdfDocument
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/pdfDocument'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'content']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new pdfDocument
   operationId: postpdfDocumentforsalesInvoice
   tags: [pdfDocument]
   requestBody:
    $ref: '#/components/requestBodies/pdfDocument'
   responses:
    201:
     description: pdfDocument succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/pdfDocument'
 "/companies({company_id})/salesInvoices({salesInvoice_id})/pdfDocument({pdfDocument_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: salesInvoice_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: pdfDocument_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'content']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the pdfDocument from its unique id
   operationId: getpdfDocumentforsalesInvoicebyid
   tags: [pdfDocument]
   responses:
    200:
     description: Succesfully returned the requested pdfDocument
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/pdfDocument'
  delete:
   summary: Allows the user to delete the specified pdfDocument
   operationId: deletepdfDocumentforsalesInvoicebyid
   tags: [pdfDocument]
   responses:
    204:
     description: Succesfully deleted the pdfDocument with the specified id
  patch:
   summary: Lets the user patch the specified pdfDocument
   operationId: patchpdfDocumentforsalesInvoicebyid
   tags: [pdfDocument]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/pdfDocument'
   responses:
    200:
     description: Succesfully updated the pdfDocument with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/pdfDocument'
 "/companies({company_id})/salesInvoiceLines":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: salesInvoiceLine_documentId
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of salesInvoiceLines
   operationId: getsalesInvoiceLines
   tags: [salesInvoiceLines]
   responses:
    200:
     description: Succesfully returned a list of salesInvoiceLines
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/salesInvoiceLine'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'documentId', 'sequence', 'itemId', 'accountId', 'lineType', 'lineDetails', 'description', 'unitOfMeasureId', 'unitOfMeasure', 'unitPrice', 'quantity', 'discountAmount', 'discountPercent', 'discountAppliedBeforeTax', 'amountExcludingTax', 'taxCode', 'taxPercent', 'totalTaxAmount', 'amountIncludingTax', 'invoiceDiscountAllocation', 'netAmount', 'netTaxAmount', 'netAmountIncludingTax', 'shipmentDate']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new salesInvoiceLine
   operationId: postsalesInvoiceLine
   tags: [salesInvoiceLines]
   requestBody:
    $ref: '#/components/requestBodies/salesInvoiceLine'
   responses:
    201:
     description: salesInvoiceLine succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoiceLine'
 "/companies({company_id})/salesInvoiceLines({salesInvoiceLine_documentId},{salesInvoiceLine_sequence})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: salesInvoiceLine_documentId
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: salesInvoiceLine_sequence
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'documentId', 'sequence', 'itemId', 'accountId', 'lineType', 'lineDetails', 'description', 'unitOfMeasureId', 'unitOfMeasure', 'unitPrice', 'quantity', 'discountAmount', 'discountPercent', 'discountAppliedBeforeTax', 'amountExcludingTax', 'taxCode', 'taxPercent', 'totalTaxAmount', 'amountIncludingTax', 'invoiceDiscountAllocation', 'netAmount', 'netTaxAmount', 'netAmountIncludingTax', 'shipmentDate']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the salesInvoiceLine from its unique documentId, sequence
   operationId: getsalesInvoiceLinebysequencebydocumentId
   tags: [salesInvoiceLines]
   responses:
    200:
     description: Succesfully returned the requested salesInvoiceLine
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoiceLine'
  delete:
   summary: Allows the user to delete the specified salesInvoiceLine
   operationId: deletesalesInvoiceLinebysequencebydocumentId
   tags: [salesInvoiceLines]
   responses:
    204:
     description: Succesfully deleted the salesInvoiceLine with the specified documentId, sequence
  patch:
   summary: Lets the user patch the specified salesInvoiceLine
   operationId: patchsalesInvoiceLinebysequencebydocumentId
   tags: [salesInvoiceLines]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/salesInvoiceLine'
   responses:
    200:
     description: Succesfully updated the salesInvoiceLine with the specified documentId, sequence
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesInvoiceLine'
 "/companies({company_id})/pdfDocument":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of pdfDocument
   operationId: getpdfDocument
   tags: [pdfDocument]
   responses:
    200:
     description: Succesfully returned a list of pdfDocument
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/pdfDocument'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'content']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new pdfDocument
   operationId: postpdfDocument
   tags: [pdfDocument]
   requestBody:
    $ref: '#/components/requestBodies/pdfDocument'
   responses:
    201:
     description: pdfDocument succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/pdfDocument'
 "/companies({company_id})/pdfDocument({pdfDocument_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: pdfDocument_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'content']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the pdfDocument from its unique id
   operationId: getpdfDocumentbyid
   tags: [pdfDocument]
   responses:
    200:
     description: Succesfully returned the requested pdfDocument
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/pdfDocument'
  delete:
   summary: Allows the user to delete the specified pdfDocument
   operationId: deletepdfDocumentbyid
   tags: [pdfDocument]
   responses:
    204:
     description: Succesfully deleted the pdfDocument with the specified id
  patch:
   summary: Lets the user patch the specified pdfDocument
   operationId: patchpdfDocumentbyid
   tags: [pdfDocument]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/pdfDocument'
   responses:
    200:
     description: Succesfully updated the pdfDocument with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/pdfDocument'
 "/companies({company_id})/customerPaymentJournals":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of customerPaymentJournals
   operationId: getcustomerPaymentJournals
   tags: [customerPaymentJournals]
   responses:
    200:
     description: Succesfully returned a list of customerPaymentJournals
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/customerPaymentJournal'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['customerPayments']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new customerPaymentJournal
   operationId: postcustomerPaymentJournal
   tags: [customerPaymentJournals]
   requestBody:
    $ref: '#/components/requestBodies/customerPaymentJournal'
   responses:
    201:
     description: customerPaymentJournal succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPaymentJournal'
 "/companies({company_id})/customerPaymentJournals({customerPaymentJournal_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: customerPaymentJournal_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['customerPayments']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the customerPaymentJournal from its unique id
   operationId: getcustomerPaymentJournalbyid
   tags: [customerPaymentJournals]
   responses:
    200:
     description: Succesfully returned the requested customerPaymentJournal
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPaymentJournal'
  delete:
   summary: Allows the user to delete the specified customerPaymentJournal
   operationId: deletecustomerPaymentJournalbyid
   tags: [customerPaymentJournals]
   responses:
    204:
     description: Succesfully deleted the customerPaymentJournal with the specified id
  patch:
   summary: Lets the user patch the specified customerPaymentJournal
   operationId: patchcustomerPaymentJournalbyid
   tags: [customerPaymentJournals]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/customerPaymentJournal'
   responses:
    200:
     description: Succesfully updated the customerPaymentJournal with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPaymentJournal'
 "/companies({company_id})/customerPaymentJournals({customerPaymentJournal_id})/customerPayments":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: customerPaymentJournal_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of customerPayments
   operationId: getcustomerPaymentsforcustomerPaymentJournal
   tags: [customerPayments]
   responses:
    200:
     description: Succesfully returned a list of customerPayments
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/customerPayment'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['customer']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'journalDisplayName', 'lineNumber', 'customerId', 'customerNumber', 'contactId', 'postingDate', 'documentNumber', 'externalDocumentNumber', 'amount', 'appliesToInvoiceId', 'appliesToInvoiceNumber', 'description', 'comment', 'dimensions', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new customerPayment
   operationId: postcustomerPaymentforcustomerPaymentJournal
   tags: [customerPayments]
   requestBody:
    $ref: '#/components/requestBodies/customerPayment'
   responses:
    201:
     description: customerPayment succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPayment'
 "/companies({company_id})/customerPaymentJournals({customerPaymentJournal_id})/customerPayments({customerPayment_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: customerPaymentJournal_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: customerPayment_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['customer']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'journalDisplayName', 'lineNumber', 'customerId', 'customerNumber', 'contactId', 'postingDate', 'documentNumber', 'externalDocumentNumber', 'amount', 'appliesToInvoiceId', 'appliesToInvoiceNumber', 'description', 'comment', 'dimensions', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the customerPayment from its unique id
   operationId: getcustomerPaymentforcustomerPaymentJournalbyid
   tags: [customerPayments]
   responses:
    200:
     description: Succesfully returned the requested customerPayment
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPayment'
  delete:
   summary: Allows the user to delete the specified customerPayment
   operationId: deletecustomerPaymentforcustomerPaymentJournalbyid
   tags: [customerPayments]
   responses:
    204:
     description: Succesfully deleted the customerPayment with the specified id
  patch:
   summary: Lets the user patch the specified customerPayment
   operationId: patchcustomerPaymentforcustomerPaymentJournalbyid
   tags: [customerPayments]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/customerPayment'
   responses:
    200:
     description: Succesfully updated the customerPayment with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPayment'
 "/companies({company_id})/customerPayments":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of customerPayments
   operationId: getcustomerPayments
   tags: [customerPayments]
   responses:
    200:
     description: Succesfully returned a list of customerPayments
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/customerPayment'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['customer']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'journalDisplayName', 'lineNumber', 'customerId', 'customerNumber', 'contactId', 'postingDate', 'documentNumber', 'externalDocumentNumber', 'amount', 'appliesToInvoiceId', 'appliesToInvoiceNumber', 'description', 'comment', 'dimensions', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new customerPayment
   operationId: postcustomerPayment
   tags: [customerPayments]
   requestBody:
    $ref: '#/components/requestBodies/customerPayment'
   responses:
    201:
     description: customerPayment succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPayment'
 "/companies({company_id})/customerPayments({customerPayment_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: customerPayment_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['customer']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'journalDisplayName', 'lineNumber', 'customerId', 'customerNumber', 'contactId', 'postingDate', 'documentNumber', 'externalDocumentNumber', 'amount', 'appliesToInvoiceId', 'appliesToInvoiceNumber', 'description', 'comment', 'dimensions', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the customerPayment from its unique id
   operationId: getcustomerPaymentbyid
   tags: [customerPayments]
   responses:
    200:
     description: Succesfully returned the requested customerPayment
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPayment'
  delete:
   summary: Allows the user to delete the specified customerPayment
   operationId: deletecustomerPaymentbyid
   tags: [customerPayments]
   responses:
    204:
     description: Succesfully deleted the customerPayment with the specified id
  patch:
   summary: Lets the user patch the specified customerPayment
   operationId: patchcustomerPaymentbyid
   tags: [customerPayments]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/customerPayment'
   responses:
    200:
     description: Succesfully updated the customerPayment with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/customerPayment'
 "/companies({company_id})/accounts":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of accounts
   operationId: getaccounts
   tags: [accounts]
   responses:
    200:
     description: Succesfully returned a list of accounts
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/account'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'displayName', 'category', 'subCategory', 'blocked', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
 "/companies({company_id})/accounts({account_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: account_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'displayName', 'category', 'subCategory', 'blocked', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the account from its unique id
   operationId: getaccountbyid
   tags: [accounts]
   responses:
    200:
     description: Succesfully returned the requested account
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/account'
 "/companies({company_id})/taxGroups":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of taxGroups
   operationId: gettaxGroups
   tags: [taxGroups]
   responses:
    200:
     description: Succesfully returned a list of taxGroups
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/taxGroup'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'taxType', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new taxGroup
   operationId: posttaxGroup
   tags: [taxGroups]
   requestBody:
    $ref: '#/components/requestBodies/taxGroup'
   responses:
    201:
     description: taxGroup succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/taxGroup'
 "/companies({company_id})/taxGroups({taxGroup_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: taxGroup_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'taxType', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the taxGroup from its unique id
   operationId: gettaxGroupbyid
   tags: [taxGroups]
   responses:
    200:
     description: Succesfully returned the requested taxGroup
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/taxGroup'
  delete:
   summary: Allows the user to delete the specified taxGroup
   operationId: deletetaxGroupbyid
   tags: [taxGroups]
   responses:
    204:
     description: Succesfully deleted the taxGroup with the specified id
  patch:
   summary: Lets the user patch the specified taxGroup
   operationId: patchtaxGroupbyid
   tags: [taxGroups]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/taxGroup'
   responses:
    200:
     description: Succesfully updated the taxGroup with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/taxGroup'
 "/companies({company_id})/journals":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of journals
   operationId: getjournals
   tags: [journals]
   responses:
    200:
     description: Succesfully returned a list of journals
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/journal'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['journalLines']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new journal
   operationId: postjournal
   tags: [journals]
   requestBody:
    $ref: '#/components/requestBodies/journal'
   responses:
    201:
     description: journal succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/journal'
 "/companies({company_id})/journals({journal_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: journal_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['journalLines']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the journal from its unique id
   operationId: getjournalbyid
   tags: [journals]
   responses:
    200:
     description: Succesfully returned the requested journal
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/journal'
  delete:
   summary: Allows the user to delete the specified journal
   operationId: deletejournalbyid
   tags: [journals]
   responses:
    204:
     description: Succesfully deleted the journal with the specified id
  patch:
   summary: Lets the user patch the specified journal
   operationId: patchjournalbyid
   tags: [journals]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/journal'
   responses:
    200:
     description: Succesfully updated the journal with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/journal'
 "/companies({company_id})/journals/Microsoft.NAV.post":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  post:
   summary: Performs the post action for journals entity
   operationId: postAction_journals
   tags: [journals]
   responses:
    204:
     description: Succesfully perfpormed a post action on the journals entity
 "/companies({company_id})/journals({journal_id})/journalLines":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: journal_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of journalLines
   operationId: getjournalLinesforjournal
   tags: [journalLines]
   responses:
    200:
     description: Succesfully returned a list of journalLines
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/journalLine'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['account']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'journalDisplayName', 'lineNumber', 'accountId', 'accountNumber', 'postingDate', 'documentNumber', 'externalDocumentNumber', 'amount', 'description', 'comment', 'dimensions', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new journalLine
   operationId: postjournalLineforjournal
   tags: [journalLines]
   requestBody:
    $ref: '#/components/requestBodies/journalLine'
   responses:
    201:
     description: journalLine succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/journalLine'
 "/companies({company_id})/journals({journal_id})/journalLines({journalLine_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: journal_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: journalLine_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['account']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'journalDisplayName', 'lineNumber', 'accountId', 'accountNumber', 'postingDate', 'documentNumber', 'externalDocumentNumber', 'amount', 'description', 'comment', 'dimensions', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the journalLine from its unique id
   operationId: getjournalLineforjournalbyid
   tags: [journalLines]
   responses:
    200:
     description: Succesfully returned the requested journalLine
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/journalLine'
  delete:
   summary: Allows the user to delete the specified journalLine
   operationId: deletejournalLineforjournalbyid
   tags: [journalLines]
   responses:
    204:
     description: Succesfully deleted the journalLine with the specified id
  patch:
   summary: Lets the user patch the specified journalLine
   operationId: patchjournalLineforjournalbyid
   tags: [journalLines]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/journalLine'
   responses:
    200:
     description: Succesfully updated the journalLine with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/journalLine'
 "/companies({company_id})/journalLines":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of journalLines
   operationId: getjournalLines
   tags: [journalLines]
   responses:
    200:
     description: Succesfully returned a list of journalLines
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/journalLine'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['account']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'journalDisplayName', 'lineNumber', 'accountId', 'accountNumber', 'postingDate', 'documentNumber', 'externalDocumentNumber', 'amount', 'description', 'comment', 'dimensions', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new journalLine
   operationId: postjournalLine
   tags: [journalLines]
   requestBody:
    $ref: '#/components/requestBodies/journalLine'
   responses:
    201:
     description: journalLine succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/journalLine'
 "/companies({company_id})/journalLines({journalLine_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: journalLine_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['account']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'journalDisplayName', 'lineNumber', 'accountId', 'accountNumber', 'postingDate', 'documentNumber', 'externalDocumentNumber', 'amount', 'description', 'comment', 'dimensions', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the journalLine from its unique id
   operationId: getjournalLinebyid
   tags: [journalLines]
   responses:
    200:
     description: Succesfully returned the requested journalLine
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/journalLine'
  delete:
   summary: Allows the user to delete the specified journalLine
   operationId: deletejournalLinebyid
   tags: [journalLines]
   responses:
    204:
     description: Succesfully deleted the journalLine with the specified id
  patch:
   summary: Lets the user patch the specified journalLine
   operationId: patchjournalLinebyid
   tags: [journalLines]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/journalLine'
   responses:
    200:
     description: Succesfully updated the journalLine with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/journalLine'
 "/companies({company_id})/employees":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of employees
   operationId: getemployees
   tags: [employees]
   responses:
    200:
     description: Succesfully returned a list of employees
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/employee'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'displayName', 'givenName', 'middleName', 'surname', 'jobTitle', 'address', 'phoneNumber', 'mobilePhone', 'email', 'personalEmail', 'employmentDate', 'terminationDate', 'status', 'birthDate', 'picture', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new employee
   operationId: postemployee
   tags: [employees]
   requestBody:
    $ref: '#/components/requestBodies/employee'
   responses:
    201:
     description: employee succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/employee'
 "/companies({company_id})/employees({employee_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: employee_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'displayName', 'givenName', 'middleName', 'surname', 'jobTitle', 'address', 'phoneNumber', 'mobilePhone', 'email', 'personalEmail', 'employmentDate', 'terminationDate', 'status', 'birthDate', 'picture', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the employee from its unique id
   operationId: getemployeebyid
   tags: [employees]
   responses:
    200:
     description: Succesfully returned the requested employee
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/employee'
  delete:
   summary: Allows the user to delete the specified employee
   operationId: deleteemployeebyid
   tags: [employees]
   responses:
    204:
     description: Succesfully deleted the employee with the specified id
  patch:
   summary: Lets the user patch the specified employee
   operationId: patchemployeebyid
   tags: [employees]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/employee'
   responses:
    200:
     description: Succesfully updated the employee with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/employee'
 "/companies({company_id})/generalLedgerEntries":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of generalLedgerEntries
   operationId: getgeneralLedgerEntries
   tags: [generalLedgerEntries]
   responses:
    200:
     description: Succesfully returned a list of generalLedgerEntries
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/generalLedgerEntry'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['account']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'postingDate', 'documentNumber', 'documentType', 'accountId', 'accountNumber', 'description', 'debitAmount', 'creditAmount', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
 "/companies({company_id})/generalLedgerEntries({generalLedgerEntry_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: generalLedgerEntry_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['account']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'postingDate', 'documentNumber', 'documentType', 'accountId', 'accountNumber', 'description', 'debitAmount', 'creditAmount', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the generalLedgerEntry from its unique id
   operationId: getgeneralLedgerEntrybyid
   tags: [generalLedgerEntries]
   responses:
    200:
     description: Succesfully returned the requested generalLedgerEntry
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/generalLedgerEntry'
 "/companies({company_id})/currencies":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of currencies
   operationId: getcurrencies
   tags: [currencies]
   responses:
    200:
     description: Succesfully returned a list of currencies
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/currency'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'symbol', 'amountDecimalPlaces', 'amountRoundingPrecision', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new currency
   operationId: postcurrency
   tags: [currencies]
   requestBody:
    $ref: '#/components/requestBodies/currency'
   responses:
    201:
     description: currency succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/currency'
 "/companies({company_id})/currencies({currency_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: currency_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'symbol', 'amountDecimalPlaces', 'amountRoundingPrecision', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the currency from its unique id
   operationId: getcurrencybyid
   tags: [currencies]
   responses:
    200:
     description: Succesfully returned the requested currency
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/currency'
  delete:
   summary: Allows the user to delete the specified currency
   operationId: deletecurrencybyid
   tags: [currencies]
   responses:
    204:
     description: Succesfully deleted the currency with the specified id
  patch:
   summary: Lets the user patch the specified currency
   operationId: patchcurrencybyid
   tags: [currencies]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/currency'
   responses:
    200:
     description: Succesfully updated the currency with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/currency'
 "/companies({company_id})/paymentMethods":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of paymentMethods
   operationId: getpaymentMethods
   tags: [paymentMethods]
   responses:
    200:
     description: Succesfully returned a list of paymentMethods
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/paymentMethod'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new paymentMethod
   operationId: postpaymentMethod
   tags: [paymentMethods]
   requestBody:
    $ref: '#/components/requestBodies/paymentMethod'
   responses:
    201:
     description: paymentMethod succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/paymentMethod'
 "/companies({company_id})/paymentMethods({paymentMethod_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: paymentMethod_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the paymentMethod from its unique id
   operationId: getpaymentMethodbyid
   tags: [paymentMethods]
   responses:
    200:
     description: Succesfully returned the requested paymentMethod
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/paymentMethod'
  delete:
   summary: Allows the user to delete the specified paymentMethod
   operationId: deletepaymentMethodbyid
   tags: [paymentMethods]
   responses:
    204:
     description: Succesfully deleted the paymentMethod with the specified id
  patch:
   summary: Lets the user patch the specified paymentMethod
   operationId: patchpaymentMethodbyid
   tags: [paymentMethods]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/paymentMethod'
   responses:
    200:
     description: Succesfully updated the paymentMethod with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/paymentMethod'
 "/companies({company_id})/dimensions":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of dimensions
   operationId: getdimensions
   tags: [dimensions]
   responses:
    200:
     description: Succesfully returned a list of dimensions
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/dimension'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['dimensionValues']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
 "/companies({company_id})/dimensions({dimension_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: dimension_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['dimensionValues']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the dimension from its unique id
   operationId: getdimensionbyid
   tags: [dimensions]
   responses:
    200:
     description: Succesfully returned the requested dimension
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/dimension'
 "/companies({company_id})/dimensions({dimension_id})/dimensionValues":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: dimension_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of dimensionValues
   operationId: getdimensionValuesfordimension
   tags: [dimensionValues]
   responses:
    200:
     description: Succesfully returned a list of dimensionValues
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/dimensionValue'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
 "/companies({company_id})/dimensions({dimension_id})/dimensionValues({dimensionValue_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: dimension_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: dimensionValue_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the dimensionValue from its unique id
   operationId: getdimensionValuefordimensionbyid
   tags: [dimensionValues]
   responses:
    200:
     description: Succesfully returned the requested dimensionValue
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/dimensionValue'
 "/companies({company_id})/dimensionValues":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of dimensionValues
   operationId: getdimensionValues
   tags: [dimensionValues]
   responses:
    200:
     description: Succesfully returned a list of dimensionValues
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/dimensionValue'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
 "/companies({company_id})/dimensionValues({dimensionValue_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: dimensionValue_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the dimensionValue from its unique id
   operationId: getdimensionValuebyid
   tags: [dimensionValues]
   responses:
    200:
     description: Succesfully returned the requested dimensionValue
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/dimensionValue'
 "/companies({company_id})/dimensionLines":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: dimensionLine_parentId
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of dimensionLines
   operationId: getdimensionLines
   tags: [dimensionLines]
   responses:
    200:
     description: Succesfully returned a list of dimensionLines
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/dimensionLine'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['dimension']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'parentId', 'id', 'code', 'displayName', 'valueId', 'valueCode', 'valueDisplayName']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new dimensionLine
   operationId: postdimensionLine
   tags: [dimensionLines]
   requestBody:
    $ref: '#/components/requestBodies/dimensionLine'
   responses:
    201:
     description: dimensionLine succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/dimensionLine'
 "/companies({company_id})/dimensionLines({dimensionLine_parentId},{dimensionLine_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: dimensionLine_parentId
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: dimensionLine_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['dimension']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'parentId', 'id', 'code', 'displayName', 'valueId', 'valueCode', 'valueDisplayName']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the dimensionLine from its unique parentId, id
   operationId: getdimensionLinebyidbyparentId
   tags: [dimensionLines]
   responses:
    200:
     description: Succesfully returned the requested dimensionLine
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/dimensionLine'
  delete:
   summary: Allows the user to delete the specified dimensionLine
   operationId: deletedimensionLinebyidbyparentId
   tags: [dimensionLines]
   responses:
    204:
     description: Succesfully deleted the dimensionLine with the specified parentId, id
  patch:
   summary: Lets the user patch the specified dimensionLine
   operationId: patchdimensionLinebyidbyparentId
   tags: [dimensionLines]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/dimensionLine'
   responses:
    200:
     description: Succesfully updated the dimensionLine with the specified parentId, id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/dimensionLine'
 "/companies({company_id})/paymentTerms":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of paymentTerms
   operationId: getpaymentTerms
   tags: [paymentTerms]
   responses:
    200:
     description: Succesfully returned a list of paymentTerms
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/paymentTerm'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'dueDateCalculation', 'discountDateCalculation', 'discountPercent', 'calculateDiscountOnCreditMemos', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new paymentTerm
   operationId: postpaymentTerm
   tags: [paymentTerms]
   requestBody:
    $ref: '#/components/requestBodies/paymentTerm'
   responses:
    201:
     description: paymentTerm succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/paymentTerm'
 "/companies({company_id})/paymentTerms({paymentTerm_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: paymentTerm_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'dueDateCalculation', 'discountDateCalculation', 'discountPercent', 'calculateDiscountOnCreditMemos', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the paymentTerm from its unique id
   operationId: getpaymentTermbyid
   tags: [paymentTerms]
   responses:
    200:
     description: Succesfully returned the requested paymentTerm
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/paymentTerm'
  delete:
   summary: Allows the user to delete the specified paymentTerm
   operationId: deletepaymentTermbyid
   tags: [paymentTerms]
   responses:
    204:
     description: Succesfully deleted the paymentTerm with the specified id
  patch:
   summary: Lets the user patch the specified paymentTerm
   operationId: patchpaymentTermbyid
   tags: [paymentTerms]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/paymentTerm'
   responses:
    200:
     description: Succesfully updated the paymentTerm with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/paymentTerm'
 "/companies({company_id})/shipmentMethods":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of shipmentMethods
   operationId: getshipmentMethods
   tags: [shipmentMethods]
   responses:
    200:
     description: Succesfully returned a list of shipmentMethods
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/shipmentMethod'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new shipmentMethod
   operationId: postshipmentMethod
   tags: [shipmentMethods]
   requestBody:
    $ref: '#/components/requestBodies/shipmentMethod'
   responses:
    201:
     description: shipmentMethod succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/shipmentMethod'
 "/companies({company_id})/shipmentMethods({shipmentMethod_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: shipmentMethod_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the shipmentMethod from its unique id
   operationId: getshipmentMethodbyid
   tags: [shipmentMethods]
   responses:
    200:
     description: Succesfully returned the requested shipmentMethod
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/shipmentMethod'
  delete:
   summary: Allows the user to delete the specified shipmentMethod
   operationId: deleteshipmentMethodbyid
   tags: [shipmentMethods]
   responses:
    204:
     description: Succesfully deleted the shipmentMethod with the specified id
  patch:
   summary: Lets the user patch the specified shipmentMethod
   operationId: patchshipmentMethodbyid
   tags: [shipmentMethods]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/shipmentMethod'
   responses:
    200:
     description: Succesfully updated the shipmentMethod with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/shipmentMethod'
 "/companies({company_id})/itemCategories":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of itemCategories
   operationId: getitemCategories
   tags: [itemCategories]
   responses:
    200:
     description: Succesfully returned a list of itemCategories
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/itemCategory'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new itemCategory
   operationId: postitemCategory
   tags: [itemCategories]
   requestBody:
    $ref: '#/components/requestBodies/itemCategory'
   responses:
    201:
     description: itemCategory succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/itemCategory'
 "/companies({company_id})/itemCategories({itemCategory_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: itemCategory_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the itemCategory from its unique id
   operationId: getitemCategorybyid
   tags: [itemCategories]
   responses:
    200:
     description: Succesfully returned the requested itemCategory
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/itemCategory'
  delete:
   summary: Allows the user to delete the specified itemCategory
   operationId: deleteitemCategorybyid
   tags: [itemCategories]
   responses:
    204:
     description: Succesfully deleted the itemCategory with the specified id
  patch:
   summary: Lets the user patch the specified itemCategory
   operationId: patchitemCategorybyid
   tags: [itemCategories]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/itemCategory'
   responses:
    200:
     description: Succesfully updated the itemCategory with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/itemCategory'
 "/companies({company_id})/cashFlowStatement":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of cashFlowStatement
   operationId: getcashFlowStatement
   tags: [cashFlowStatement]
   responses:
    200:
     description: Succesfully returned a list of cashFlowStatement
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/cashFlowStatement'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'lineNumber', 'display', 'netChange', 'lineType', 'indentation', 'dateFilter']
       default: '*'
     style: form
     explode: false
 "/companies({company_id})/cashFlowStatement({cashFlowStatement_lineNumber})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: cashFlowStatement_lineNumber
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'lineNumber', 'display', 'netChange', 'lineType', 'indentation', 'dateFilter']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the cashFlowStatement from its unique lineNumber
   operationId: getcashFlowStatementbylineNumber
   tags: [cashFlowStatement]
   responses:
    200:
     description: Succesfully returned the requested cashFlowStatement
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/cashFlowStatement'
 "/companies({company_id})/countriesRegions":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of countriesRegions
   operationId: getcountriesRegions
   tags: [countriesRegions]
   responses:
    200:
     description: Succesfully returned a list of countriesRegions
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/countryRegion'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'addressFormat', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new countryRegion
   operationId: postcountryRegion
   tags: [countriesRegions]
   requestBody:
    $ref: '#/components/requestBodies/countryRegion'
   responses:
    201:
     description: countryRegion succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/countryRegion'
 "/companies({company_id})/countriesRegions({countryRegion_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: countryRegion_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'code', 'displayName', 'addressFormat', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the countryRegion from its unique id
   operationId: getcountryRegionbyid
   tags: [countriesRegions]
   responses:
    200:
     description: Succesfully returned the requested countryRegion
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/countryRegion'
  delete:
   summary: Allows the user to delete the specified countryRegion
   operationId: deletecountryRegionbyid
   tags: [countriesRegions]
   responses:
    204:
     description: Succesfully deleted the countryRegion with the specified id
  patch:
   summary: Lets the user patch the specified countryRegion
   operationId: patchcountryRegionbyid
   tags: [countriesRegions]
   parameters:
    - $ref: '#/components/parameters/IfMatchParam'
   requestBody:
    $ref: '#/components/requestBodies/countryRegion'
   responses:
    200:
     description: Succesfully updated the countryRegion with the specified id
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/countryRegion'
 "/companies({company_id})/salesOrders":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
  get:
   summary: Returns a list of salesOrders
   operationId: getsalesOrders
   tags: [salesOrders]
   responses:
    200:
     description: Succesfully returned a list of salesOrders
     content:
      application/json:
       schema:
        type: array
        items:
         $ref: '#/components/schemas/salesOrder'
   parameters: 
   - $ref: '#/components/parameters/topParam'
   - $ref: '#/components/parameters/skipParam'
   - $ref: '#/components/parameters/limitParam'
   - $ref: '#/components/parameters/filterParam'
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['salesOrderLines', 'customer', 'currency', 'paymentTerm']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'externalDocumentNumber', 'orderDate', 'customerId', 'contactId', 'customerNumber', 'customerName', 'billingPostalAddress', 'currencyId', 'currencyCode', 'pricesIncludeTax', 'paymentTermsId', 'salesperson', 'partialShipping', 'requestedDeliveryDate', 'discountAmount', 'discountAppliedBeforeTax', 'totalAmountExcludingTax', 'totalTaxAmount', 'totalAmountIncludingTax', 'fullyShipped', 'status', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  post:
   summary: Lets a user post a new salesOrder
   operationId: postsalesOrder
   tags: [salesOrders]
   requestBody:
    $ref: '#/components/requestBodies/salesOrder'
   responses:
    201:
     description: salesOrder succesfully created
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesOrder'
 "/companies({company_id})/salesOrders({salesOrder_id})":
  parameters: 
   - name: company_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: salesOrder_id
     in: path
     required: true
     schema:
      type: string
      format: uuid
   - name: $expand
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['salesOrderLines', 'customer', 'currency', 'paymentTerm']
     style: form
     explode: false
   - name: $select
     in: query
     schema:
      type: array
      items:
       type: string
       enum: ['*', 'id', 'number', 'externalDocumentNumber', 'orderDate', 'customerId', 'contactId', 'customerNumber', 'customerName', 'billingPostalAddress', 'currencyId', 'currencyCode', 'pricesIncludeTax', 'paymentTermsId', 'salesperson', 'partialShipping', 'requestedDeliveryDate', 'discountAmount', 'discountAppliedBeforeTax', 'totalAmountExcludingTax', 'totalTaxAmount', 'totalAmountIncludingTax', 'fullyShipped', 'status', 'lastModifiedDateTime']
       default: '*'
     style: form
     explode: false
  get:
   summary: Obtain information about the salesOrder from its unique id
   operationId: getsalesOrderbyid
   tags: [salesOrders]
   responses:
    200:
     description: Succesfully returned the requested salesOrder
     content:
      application/json:
       schema:
        $ref: '#/components/schemas/salesOrder'
  delete:
   summary: Allows the user to delete the specified salesOrder
   operationId: deletesalesOrderbyid
   tags: [salesOrders]
   responses:
    204:
     description: Succesfully deleted the salesOrder with the specified id
  patch:
   summary: Lets the user patch the specified salesOrder
   operationId: patchsalesOrderbyid
   tags: [salesOrders]
   parameters:
[...]
